
<h1>h1 Description of the project</h1>

<br/>

<h2>h2 Mission & Vision</h2>

<br/>

<h3>h3 Estonian Pilot on Big Data Analytics</h3>

<br/>

<h4>h4 Estonian Pilot on Big Data Analytics</h4>

</br>

<h5>h5 Work package 2 - Coordinate</h5>

</br>

<article>
  <p>Indoor air pollution is an emerging threat recognized by European society, and is <a href="#">claiming millions</a> of lives annually. People are constantly exposed to outdoor and indoor air pollution; in fact, the latest research shows that <b>people in developed countries</b> spend up to 90% of their time indoors, almost 70% of which is at home.</p>

  <p>15% of COVID-19 related deaths could be attributed to impaired air quality in residential <a href="#"><b>environments</b></a>. Poor indoor air quality, along with contamination by biological agents related to moisture and mold, increase the risk of respiratory diseases by 50%. Although impaired IAQ represents a major health risk, it affects people in different ways and certain populations are more vulnerable: children, elderly, people with respiratory illnesses are more sensitive to these environmental risks than the general public.</p>

  <p>The long-term objectives include:
    <ol>
      <li>To map different building categories to provide approaches for proper management of indoor AQ, increasing public awareness about sources, behaviours and environmental factors;</li>
      <li>Launch a first series of campaigns to incentivize different types of occupants (students, workers, visitors, residents) and shift their behaviours around IAQ and monitor effects of mitigation measures;</li>
      <li>To conduct toxicology studies for determining the long-term exposure to emerging pollutants;</li>
      <ol>
        <li>Second level first item</li>
        <li>Second level second item</li>
        <li>Second level third item</li>
      </ol>
    </ol>
  </p>
</article>