<div class="max-width-sm m-auto ">

	<h2>The Digital Citizenship Map</h2>
	<p>
		The Digital Citizenship Map is an initiative of the
		<a href="https://www.facebook.com/combating-misinfo/programs-eu" target="_blank" rel="nofollow noopener">Digital Citizenship Working Group</a>, a multidisciplinary group of EU civil society organisations, academics and think tanks with the aim to contribute to the debate around digital citizenship in the EU. The Map serves as a repository of ongoing and in some cases completed projects and initiatives that focus on different aspects of digital citizenship that are divided into 5 pillars:
	</p>
	<ul>
		<li>Digital Foundations</li>
		<li>Digital Wellbeing</li>
		<li>Digital Engagement and Media Literacy</li>
		<li>Digital Empowerment</li>
		<li>Digital Opportunities</li>
	</ul>
	<p>The objective of the Map is to highlight a diverse range of impactful digital citizenship projects that can serve as examples and inspiration for policymakers, educators and practitioners.
	</p>

	<picture>
		<source srcset="/{{ directory }}/images/page-about-logo.webp" type="image/webp"/>
		<img class="d-block m-auto mt-5 mb-5" title="Citizenship Map" src="/{{ directory }}/images/page-about-logo.png" alt="Citizenship map logo"/>
	</picture>

	<h2>The Editorial Board</h2>

	<h4 class="mt-4">Alessandro Soriano</h4>
	<i>Research Fellow | Department of Education Studies - University of Bologna</i>
	<h4 class="mt-4">Vitor Tome</h4>
	<i>Researcher, Journalist | Autonoma University of Lisbon</i>
	<h4 class="mt-4">Verónica Donoso</h4>
	<i>Child Online Safety Consultant | Institute for Media Studies - KU Leuven</i>
	<h4 class="mt-4">Matteo Bergamini
	</h4>
	<i>CEO and Founder | ShoutOut UK</i>
	<h4 class="mt-4">Stella Meyer</h4>
	<i>Research Associate and Project Manager | The Lisbon Council</i>


	<h2 class="mt-5">The Selection Process</h2>
	<p>Each project must fulfil a number of criteria to be included in the Map. They should be original and innovative in their approach, they should have a measurable impact with tangible outcomes, they must be diverse in terms of target group and ideally focus on more than one of the five pillars. Additionally, we are looking to fill the gaps currently not covered in the Map. Thus, we are looking for projects that are being implemented in currently underrepresented countries and target groups. The Digital Citizenship Map is an ongoing project and is constantly evolving. Anyone can suggest projects or initiatives to be included in the Map
		<b>[Insert Link to Submission Page]</b>. All submissions will go through a standardised double-blind review process before either being accepted or rejected. The review is done by the Editorial Board which is composed of members from academia and civil society with profound expertise in digital citizenship.
	</p>

	<h2 class="mt-5">The Pillars</h2>
	<p>Digital citizenship involves not only digital and media literacy, but also other skills that appear in related discussions of participation, democracy, social engagement and human rights. The Digital Citizenship Working Group organises its thinking about digital citizenship around five primary pillars outlined below.</p>


	<h3>1 - Digital Foundations</h3>
	<p>The digital foundations pillar refers to more traditional digital literacy, the skills people need to stay safe, protect and control personal information and access information. At the EU level, the Digital Education Action Plan for 2021-2027 provides the framework for creating an integrated approach to the use of technology in education, and for improving digital skills outside of formal education pathways. This is a good start to addressing the inequalities and barriers faced by individuals in learning digital skills and competencies, and allows for a more holistic approach to building digital foundations across the EU. However, the skills acquired should be for life as opposed to work or school alone and should not be limited to formal education.</p>

	<h3>2 - Digital Wellbeing</h3>
	<p>The concept of digital wellbeing refers to skills needed to promote health, wellbeing and resilience of internet users and to help them build healthy online relationships with other internet users and with the online services they use. This includes awareness of the impact their online behaviour has on others and equipping users to handle different online encounters to ensure a positive experience for all. Both non-formal and formal models of user education are key in creating learner-centred approaches to raise awareness of the importance of digital wellbeing. The processes and models should involve citizens, governments, technology companies, education providers, the media, civil society organisations, and grassroots organisations.</p>

	<h3>3 - Digital Engagement and Media Literacy</h3>
	<p>This pillar focuses on the skills required to evaluate, create and share media content, to access and exchange accurate information, and to engage respectfully online. Mis- and disinformation represent major problems for society as they are hard to detect and tackle. Mistrust and divergent values across society also pose challenges. We need to balance the right to free speech against the threat of mis- and disinformation. This requires partnerships between regulators and digital platforms as well as the inclusion of such skills in school curricular and information education settings.</p>

	<h3>4 - Digital Empowerment</h3>
	<p>Digital empowerment describes the ability to harness the power of technology and the internet for positive change. This could be to generate interest and conversation, to raise awareness and increase participation in social movements, civic engagement and democracy or to inform people of the process and outcome of different actions. Challenges here include apathy, the complexity of global challenges and the inconclusive impact of digitalisation on democracy and democratic processes. There is also uncertainty as to which digital platforms and tools are most appropriate for activism.</p>
	<p>A holistic definition of digital citizenship must go beyond skills and extend to the fullness of the online experience, including political engagement and activism, taking into account how digital spaces can either enhance or hem people’s political behaviour. It is also important to note that individuals have different dispositions to empowerment with some not interested in gathering information online and others looking to form balanced opinions. Thus, solutions for enabling digital empowerment must account for these differences and should be participatory and user-centric.</p>

	<h3>5 - Digital Opportunities</h3>
	<p>This final pillar refers to the need for digital citizenship skills across the economic sectors. It refers to professional training as well as upskilling and reskilling. It is important to distinguish between three different types of digital skills: professional digital skills, professional digital soft skills and digital competencies. A more holistic approach is needed when building a framework to improve digital skills, focusing not just on economic growth but also accounting for other factors where digital opportunities might have a positive impact.</p>


</div>

<div class="max-width-md mt-5 m-auto">
	<picture>
		<source srcset="/{{ directory }}/images/page-about-image.webp" type="image/webp"/>
		<img class="d-block m-auto mt-3 w-100" title="Citizenship Map" src="/{{ directory }}/images/page-about-image.png" alt="Citizenship map image"/>
	</picture>
</div>
