<div class="max-width-sm m-auto">
	<h2>Submit a project</h2>
	<p>The Digital Citizenship Map is constantly evolving and new projects are included on a rolling  basis. If you would like to suggest an initiative or project that you think would be a valuable addition to the Map and worth knowing about, please submit it through the form below.</p>
	<p>Your submission will be reviewed by the Editorial Board in a double-blind review process based on originality, added value, geographic scope, target group and impact. Further, projects must be attributable to at least one but ideally more than one of the following five pillars:</p>
	<ol>
		<li>Digital Foundations - Protect their privacy and engage safely in the digital world</li>
		<li>Digital Wellbeing - Build healthy relationships, resilience and wellbeing</li>
		<li>Digital Engagement and Media Literacy - Evaluate media content and access accurate information, engage respectfully online</li>
		<li>Digital Empowerment - Harness technology for good and create positive change, provide positive spaces for civic engagement</li>
		<li>Digital Opportunities - Advance their careers and grow their businesses</li>
	</ol>
</div>


<div class="text-center">
	<a class="btn btn-lg btn-outline-secondary my-4" href="https://docs.google.com/forms/d/1mMFwG753D2uKtMh-FfNpdN7uYHdOBgPoVtMzPaERxkw/viewform">
		Submit an initiative
	</a>
</div>	
