@import '../variables';

.node--type-initiative {

  //&.node--view-mode-full {

  .field--name-field-country {
    text-align: center;

    .field__item {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 500;
      text-transform: uppercase;

      &:not(:first-child) {
        margin-left: 2rem;
      }
    }
  }

  .field--name-field-image {
    margin-top: 2rem;
    margin-bottom: 1rem;

    img {
      max-width: 100% !important;
    }

    img {
      border-radius: 16px !important;
      width: auto;
      margin: auto;
      max-height: 400px;
      display: block;
      border-radius: 1rem;
      aspect-ratio: 16/9;
      object-fit: contain;
    }
  }

  .field--name-field-pillar {
    display: block;
    justify-content: center;

    .field__item {
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 0.25rem 1.25rem;
      border-radius: 1rem;
      background-color: #5CAB80;
      color: white;
      text-align: center;
    }
  }

  .field--name-field-initiator-consortium,
  .field--name-field-project-kick-off {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;

    .field__item {
      margin-top: 1rem;
      font-weight: 500;
      font-size: 1.5rem;
      text-transform: uppercase;
    }
  }

  .field--name-field-timeline-is-ongoing {
    display: none;
  }

  .field--name-body {
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $accent-shade;

    p {
      margin-top: 2rem;
      max-width: 700px;
      text-align: center;
      margin: auto;
    }
  }

  .field--name-field-target-audience,
  .field--name-field-target-beneficiaries {
    text-align: center;

    .field__label {
      margin-top: 2rem;
      color: $accent-shade;
    }

    .field__item,
    .field__item a,
    .field__item span {
      color: $accent-shade;
      margin-top: 0.5rem;
      font-weight: 500;
      font-size: 1.5rem;
      text-transform: uppercase;
    }
  }

  .field--name-field-milestones {
    text-align: center;
    margin-top: 1rem;

    .field__label {
      margin-top: 2rem;
      color: $accent-shade;
    }

    .field__items {
      display: block;

      .field__item {
        color: $accent-shade;
        margin-top: 0.5rem;
        font-weight: 500;
        font-size: 1.5rem;
        text-transform: uppercase;

      }
    }


  }
}

@media screen and (min-width: $mobile-breakpoint) {
  .node--type-initiative {

    .field--name-field-image {
      margin-top: 2rem;
      margin-bottom: 1rem;
      
      img {
        max-width: 600px !important;
      }
    }
    .field--name-field-country {

      .field__item {

        &:not(:first-child) {
          margin-left: 2rem;
        }
      }
    }

    .field--name-field-pillar {
      display: flex;
    }
  }

  .field--name-field-milestones{
    .field__items {
      display: flex;
      flex: 1 1 33% !important;
      justify-content: center !important;
    }
  }
}

