@import '../variables';

body.node--type-initiative {

  .round-block{
    @extend .bg-primary-op10;
    color: $accent-shade;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;

    .field_label{
      margin-bottom: 2rem;
    } 
  }


  .node__content{
    margin-top: 0;
  }
  .initiative-icon{
    display: block;
    height: 35px;
    margin: auto;
  }

  .field--name-field-target-audience,
  .field--name-field-country,
  .field--name-field-languages,
  .field--name-field-custom-kick-off{
    margin-top: 1rem;

    & .field__label{
      text-align: center;
      color: $accent-shade;
      margin-bottom: 1rem;  
    }
    & .field__item, & .field__item a, & .field__item span, & .field__items{
      text-align: center;
      font-size: 1.5rem;
      color: $accent-shade;

      font-family: "DIN Condensed";
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 133.333% */
      letter-spacing: 1.8px;
      text-transform: uppercase;
    }
  }

  .field--name-field-image {
    margin-top: 2rem;
    margin-bottom: 1rem;

    img {
      max-width: 100% !important;
    }

    img {
      border-radius: 16px !important;
      width: auto;
      margin: auto;
      max-height: 400px;
      display: block;
      border-radius: 1rem;
      aspect-ratio: 16/9;
      object-fit: contain;
    }
  }

  .field--name-field-pillar {
    display: block;
    justify-content: center;

    .field__item {
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 0.25rem 1.25rem;
      border-radius: 1rem;
      background-color: #5CAB80;
      color: white;
      text-align: center;
    }
  }



  .field--name-field-milestones {
    &.field__items {
      display: block;
      
      .field__item {
        @extend .bg-primary-op10;
        text-align: center;
        margin: 1rem;
        padding: 2rem 1rem;
        color: $accent-shade;
        font-weight: normal;
        font-size: 1.38rem;
      }
    }
  }

.field--name-field-initiator-consortium .field__label,
.field--name-field-contact-information .field__label {

  font-weight: 600;
  margin-bottom: 2rem;
}

.embed-initiative-video {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin: auto;
}



    // Deprecated 

  .field--name-field-url.field__link{
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    & > a{
      @include link-button(white, $accent-shade);
      margin: auto;
      display: block;
      &::after{
        content: "\f0c1";
        font-family: "FontAwesome";
      }
    }
  }

}




@media screen and (min-width: $mobile-breakpoint) {
  .node--type-initiative {

    .breadcrumb{
      padding-top: 2rem;
      color: $accent-shade;
    }
  
    .field--name-field-image {
      margin-top: 2rem;
      margin-bottom: 1rem;
      
      img {
        max-width: 600px !important;
      }
    }


    .field--name-field-pillar {
      display: flex;
    }
  }

  .field--name-field-milestones{
    &.field__items {
      display: flex !important;
      justify-content: center !important;
      flex-wrap: wrap !important;
      
      .field__item{
        padding: 5rem 2rem !important;
        flex: 1 1 33% !important;
        max-width: 50%;
      }
    }
  }
}

