@import "_variables";


.initiatives-container-grid {
  display: grid;
  column-gap: 1.25rem;
  row-gap: 1.25rem;
  grid-template-columns: repeat(1, 1fr);

  .initiative-item {
    color: $primary;

    .initiative-item__name {
      margin-top: 0.25rem;
      font-size: 1.25rem;
      font-weight: 500;
      letter-spacing: -1px;
    }

    .initiative-item__countries {
      font-size: 0.9rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: -1px;

    }

    .initiative-item__image img {
      max-width: 100%;
      aspect-ratio: 16/9;
      object-fit: contain;
      max-height: 140px;
      height: 140px;
    }

    .initiative-item__pillars{
      text-align: left;
    }
  }
}

.initiatives-container-list {
  .initiative-item {
    color: $primary;
    margin-top: 2rem;

    .block-left {
      .initiative-item__image{
        height: 100%;
       img {
        max-width: 100%;
        aspect-ratio: 16/9;
        object-fit: contain;
        height: 100%;
       }}
    }

    .block-right {
      border-bottom: 1px solid $primary;
      height: 100%;
    }

    .initiative-item__name {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .initiative-item__countries {
      font-size: 1rem;
      font-weight: 500;
      text-transform: uppercase;
    }

  }
}





#initiatives-filter {
  .filter-open-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    border-radius: 1rem;
    position: relative;

    .filter-open-container__toggle {
      color: white;
      position: absolute;
      right: 1rem;
      top: 1rem;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }


    &.expanded {
      padding: 1rem 5rem 1rem 1rem;
      max-height: 2000px;
      background-color: $primary;
    }
  }

  .counter {
    font-size: 12px;
    font-weight: 500;
    color: inherit;
  }
}


@media screen and (min-width: $mobile-breakpoint) {
  .initiatives-container-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .initiatives-container-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}