<div class="max-width-sm m-auto">

	<p class="text-center">
		The Digital Citizenship Map is an initiative of the Digital Citizenship Working Group, a multidisciplinary group of EU civil society organisations, academics and think tanks with the aim to contribute to the debate around digital citizenship in the EU.
	</p>

	<p class="text-center">
		The Map serves as a repository of ongoing and in some cases completed projects and initiatives that focus on different aspects of digital citizenship that are divided into 5 pillars:
	</p>


	<picture>
		<source srcset="/{{ directory }}/images/page-about-logo.webp" type="image/webp"/>
		<img class="d-block m-auto mt-3" title="Citizenship Map" src="/{{ directory }}/images/page-about-logo.png" alt="Citizenship map logo"/>
	</picture>
</div>

<div class="max-width-md mt-5 m-auto">
	<picture>
		<source srcset="/{{ directory }}/images/page-about-image.webp" type="image/webp"/>
		<img class="d-block m-auto mt-3 w-100" title="Citizenship Map" src="/{{ directory }}/images/page-about-image.png" alt="Citizenship map image"/>
	</picture>
</div>

<div class="pb-5"></div>
<div class="pb-5"></div>
<div class="pb-5"></div>
<div class="pb-5"></div>
<div class="pb-5"></div>
<div class="pb-5"></div>
<div class="pb-5"></div>