@font-face {
    font-family: 'DIN';
    src: url('/themes/custom/citimap01/fonts/DIN-BlackAlternate.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'DIN';
    src: url('/themes/custom/citimap01/fonts/DIN-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'DIN';
    src: url('/themes/custom/citimap01/fonts/DIN-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'DIN';
    src: url('/themes/custom/citimap01/fonts/DIN-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'DIN';
    src: url('/themes/custom/citimap01/fonts/DIN-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: normal;
    src: url('/themes/custom/citimap01/fonts/Acumin-RPro.woff') format('woff');
    font-display: swap;
    }
    

  @font-face {
    font-family: 'Acumin Pro';
    font-style: italic;
    font-weight: normal;
    src: url('/themes/custom/citimap01/fonts/Acumin-ItPro.woff') format('woff');
    font-display: swap;
  }
    

    @font-face {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: bold;
    src: url('/themes/custom/citimap01/fonts/Acumin-BdPro.woff') format('woff');
    font-display: swap;
    }
    

    @font-face {
    font-family: 'Acumin Pro';
    font-style: italic;
    font-weight: bold;
    src: url('/themes/custom/citimap01/fonts/Acumin-BdItPro.woff') format('woff');
    font-display: swap;
}