header.header-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}


main {
  margin-top: 0px;
}

.header-margin {
  height: 70px //CHANGE;
}



body.toolbar-horizontal {

  .header-margin {
    height: 0px;
  }

  header.header-fixed {
    position: static !important;
    z-index: 10;
  }

  main {
    margin-top: 0;
  }
}

body.scrolled {
  header {}
}


header {
  background-color: white;
  padding-bottom: 0;

  .navbar {

    .navbar-collapse {
      margin-top: 1rem;
    }

    .navbar-container {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .navbar-brand {
      display: flex;

      img {
        max-height: 50px;
      }
    }


    .nav-item {

      &:last-child {
        margin-right: 0px;
      }

      a.nav-link,
      span.nav-link {
        font-style: normal;
        padding-left: 0.5rem;
        font-weight: 500;
        font-size: 0.8rem;
        line-height: 1rem;
        color: $accent-shade;
        text-transform: uppercase;

      }
      &:hover, &.active {
        background-color: $accent-shade;
        color: white;
        border-radius: 1rem;

        a.nav-link, span.nav-link {
          color: white;
        }
      }

      .dropdown-menu {
        border-radius: 0;

        .dropdown-item {

          a {
            width: 100%;
            display: inline-block;

            &.active,
            &:active {
              color: $white;
            }

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }


    /*.menu--account li a {
        color: $primary;
      }
  
      .dropdown-menu.show {
        margin-top: 0px !important;
        top: 63px;
        border-radius: 0px;
        border: none;
        
        & .dropdown-item{
          padding: 0 !important;
          cursor: pointer;
          &:hover, &:active, &.active{
            background: lighten($secondary, 10%);
          }
          & > a{
            padding: 8px 16px;
            display: block;
          }
        }
  
        & .dropdown-item a {
          font-weight: 500;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 18px;
  
          &:hover {
            text-decoration: none;
          }
        }
      }*/

  }
}


@media screen and (min-width: $mobile-breakpoint) {
  header {
    .navbar {
      //padding-bottom: none;

      .navbar-container {
        border-bottom: 1px solid $accent-shade;
        padding-top: 2rem;
        padding-bottom: 2rem;
        
        .nav-item {
          margin-left: 1.25rem;
          margin-right: 1.25rem;

          a.nav-link,
          span.nav-link {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
          }
        }
      }
    }
  }
}